---
import "../styles/index.scss";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="container">
    <div class="fondo">
      <div class="text-container">
        <h1>Come sano, vive mejor</h1>
        <p>Descubre deliciosas opciones para una alimentación equilibrada</p>
        <a href="#">Explorar Recetas</a>
      </div>
    </div>
  </div>
</MainLayout>

<style lang="scss">
  @use "../styles/colors";
  .container {
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; //cubra toda la pantalla
    height: 100dvh; //100% del alto de la pantalla
    text-align: center;

    .fondo {
      background-color: colors.$negro-transparente;
      height: 100%;
      color: colors.$blanco;
      display: grid;
      place-items: center;

      .text-container {
		padding: 1rem;
        h1 {
          font-size: 8rem;
          margin-bottom: 2rem;
        }

        p {
          margin-bottom: 4rem;
          font-size: 2rem;
        }

        a {
          color: colors.$negro;
          padding: 1rem 2rem;
          background-color: colors.$verde-claro;
          display: block;
          max-width: fit-content;
          margin: auto;
          font-size: 2rem;
          border-radius: 1rem;
          transition: background-color 200ms ease-in-out;

          &:hover {
            background-color: colors.$verde-oscuro;
          }
        }
        @media screen and (max-width: 800px) {
          h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
          }
          p {
            font-size: 1rem;
            margin-bottom: 2rem;
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
</style>
